html, body {
  margin: 0;
  padding: 0;
   font-size: 18px;
}

.container {
  margin-top: 5rem;
}
/*img {
  width: 150px !important;
  height: auto important;
}*/

#a01 {
  background-color: rgba(255, 0, 0, .2);
}

#a02 {
  background-color: rgba(0, 255, 0, .2);
}

#a03 {
  background-color: rgba(0, 0, 255, .2);
}

#a04 {
  background-color: rgba(0, 0, 0, .2);
}

.card-image img {
  border-bottom: 1px solid rgba(160,160,160,0.2);
  /*z-index: 10;*/
}

.card-title {
  color: black!important;
  background-color: rgba(255, 255, 255, .8);
}

.switch {
  display: inline-block;
}

.icon {
  padding: 1px 7px 2px!important;
}

.fa-check {
  color: #34E29BFF;
}

.fa-times {
  color: #FF0034FF;
}

.add {
  background-color: #FFBABFFF;
}

.edit {
  background-color: #00B5FFFF;
}

.delete {
  background-color: #FF0013FF;
}
