/* line 1, ../scss/style.scss */
html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

/* line 7, ../scss/style.scss */
.container {
  margin-top: 5rem;
}

/*img {
  width: 150px !important;
  height: auto important;
}*/
/* line 15, ../scss/style.scss */
#a01 {
  background-color: rgba(255, 0, 0, 0.2);
}

/* line 19, ../scss/style.scss */
#a02 {
  background-color: rgba(0, 255, 0, 0.2);
}

/* line 23, ../scss/style.scss */
#a03 {
  background-color: rgba(0, 0, 255, 0.2);
}

/* line 27, ../scss/style.scss */
#a04 {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 31, ../scss/style.scss */
.card-image img {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  /*z-index: 10;*/
}

/* line 36, ../scss/style.scss */
.card-title {
  color: black !important;
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 41, ../scss/style.scss */
.switch {
  display: inline-block;
}

/* line 45, ../scss/style.scss */
.icon {
  padding: 1px 7px 2px !important;
}

/* line 49, ../scss/style.scss */
.fa-check {
  color: #34E29BFF;
}

/* line 53, ../scss/style.scss */
.fa-times {
  color: #FF0034FF;
}

/* line 57, ../scss/style.scss */
.add {
  background-color: #FFBABFFF;
}

/* line 61, ../scss/style.scss */
.edit {
  background-color: #00B5FFFF;
}

/* line 65, ../scss/style.scss */
.delete {
  background-color: #FF0013FF;
}
